.nav__head {
  font-family: 'Montserrat', sans-serif;
}
.section__title {
  font-family: 'Montserrat', sans-serif;
}
.section__subtitle {
  font-family: 'Montserrat', sans-serif;
}
.section__mile {
  font-family: 'Montserrat', sans-serif;
}
.section__velocity {
  font-family: 'Montserrat', sans-serif;
}
.section__mile_name {
  font-family: 'Montserrat', sans-serif;
}
.section__link {
  font-family: 'Montserrat', sans-serif;
}
.section__title_two {
  font-family: 'Montserrat', sans-serif;
}
.aside__title {
  font-family: 'Montserrat', sans-serif;
}
.aside__text {
  font-family: 'Montserrat', sans-serif;
}
.itemname {
  font-family: 'Montserrat', sans-serif;
}
.itemvalue {
  font-family: 'Montserrat', sans-serif;
}
.asidetwo__title {
  font-family: 'Montserrat', sans-serif;
}
.asidetwo__text {
  font-family: 'Montserrat', sans-serif;
}
