@font-face {
  font-family: 'montserrat';
    src: url(../fonts/Montserrat-regular.woff2) format('woff2'),
    url('../fonts/Montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
